page-login {
    button {
        font-family: Norwester;
        background-color: #0D0A0A;
         width: 300px; 
         color: #C2381E;
          font-size: 20px;
    }

    #map_canvas {
        height: 90%;
    }
}
